# =========================
# R
# =========================

.Rhistory
.RData
.Ruserdata

# RStudio files
.Rproj.user/

# Package build
*.tar.gz
*.Rcheck/

# Knitr cache
*_cache/
*_files/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/



# Temporary files
*.tmp
*.bak
